# for core cubedpandas library
numpy>=1.26.1
pandas>=1.5.2
python-dateutil>=2.8.2
datespan>=0.2.4

# for future use
matplotlib
scipy
scikit-learn


# for server sample
fastapi>=0.88.0
uvicorn>=0.20.0


# for deployment
build
wheel
twine
setuptools>65.5.0
pytest

# documentation related requirements
mkdocs
mkdocs-material
mkdocs-exclude
mkdocstrings
mkdocstrings-python
mike
cubedpandas~=0.2.19
joblib~=1.4.2