numpy
pandas
pyarrow >= 14.0.1
python-dateutil
matplotlib
scipy
scikit-learn

# pyparsing  ' not needed for now


# for deployment
build
wheel
twine
setuptools
pytest

# documentation related requirements
mkdocs
mkdocs-material
mkdocs-exclude
mkdocstrings
mkdocstrings-python
mike