# for core cubedpandas library
numpy
pandas
python-dateutil


# for future use
matplotlib
scipy
scikit-learn




# for deployment
build
wheel
twine
setuptools
pytest

# documentation related requirements
mkdocs
mkdocs-material
mkdocs-exclude
mkdocstrings
mkdocstrings-python
mike